.page-standard-horizontal-padding {
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 768px) {
    .page-standard-horizontal-padding {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.page-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.label-medium {
    font-size: 1rem;
    font-weight: 600;
}

.label-medium-large {
    font-size: 1.15rem;
    font-weight: 600;
}

.label-large {
    font-size: 1.35rem;
    font-weight: 600;
}

.custom-input {
    padding: 0.5rem 1rem;
    border: 1px solid #b4b4b4;
    border-radius: 6px;
}

.custom-select {
    display: block;
    min-width: 10rem;
    max-width: 24rem;
    padding: 0.5rem 1.5rem 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.custom-select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


.confirm-dialog {
    background-color: white !important; 
    opacity: 1 !important;
}